<div class="container-fluid">
    <div class="hero-image">
        <picture>
            <source srcset="https://corp.vendcdn.com/home/hero-art/Homepage-graph-person2_desktop.png"
            >
            <img src="https://corp.vendcdn.com/home/hero-art/mobile/Homepage-graph-person2_mobile.png"
                alt="Homepage graph person2 mobile">
        </picture>
    </div>
        <h1 class="headline">Upgrade your retail store for tomorrow. </h1>
        <h3>Covid-19 is affecting retail globally. It's more important than ever to have a multi-channel retail
            business. Prepare for the retail resurgence with Vend. </h3>
        <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Try vend for free</a>
        <p class="hero-text"> </p>
        Includes 24/7 access to support &amp; advice to get you started.
        No commitment, no credit card required.
</div>