<div class="container">
    <div class="headline">
        <h1 class="c-product-feature__headline">Powerful inventory management to maximize your profits.</h1>
    </div>
    
    <div class="body">
        <p>Manage inventory across multiple outlets with a centralised product catalog, accessible from your POS, back-office, or on the road. Edit products in bulk. Automatically reorder stock. Create variants and composites. Print labels and barcodes. We’ve even simplified stock-taking with our free app, <a href="https://www.vendhq.com/scanner">Scanner by Vend</a>.</p>
    </div>
</div>
    